In [17]:
from utils import load_data
import numpy as np
import pandas as pd

In [18]:
data_location = "data/ashrae-energy-prediction"
discord_location = "data/outliers"
discord_file = "bad_meter_readings.csv"

In [19]:
# load raw data
train, test = load_data("input", data_location=data_location)
building_meta = load_data("meta", data_location=data_location)
train.head()

   building_id  meter            timestamp  meter_reading
0            0      0  2016-01-01 00:00:00            0.0
1            1      0  2016-01-01 00:00:00            0.0
2            2      0  2016-01-01 00:00:00            0.0
3            3      0  2016-01-01 00:00:00            0.0
4            4      0  2016-01-01 00:00:00            0.0

In [20]:
# loading discords/outliers
is_bad_meter_reading = load_data(
    "discord", discord_location=discord_location, discord_file=discord_file
).values
train["is_bad_meter_reading"] = is_bad_meter_reading
train = pd.merge(train, building_meta, "left", "building_id")
train = train.drop(["square_feet", "year_built", "floor_count"], axis=1)
train.to_csv(f"{discord_location}/bad_meter_readings_detailed.csv", index=False)
train.head()

,building_id,meter,timestamp,meter_reading,is_bad_meter_reading,site_id,primary_use
0,0,0,2016-01-01 00:00:00,0.0,1,0,Education
1,1,0,2016-01-01 00:00:00,0.0,1,0,Education
2,2,0,2016-01-01 00:00:00,0.0,1,0,Education
3,3,0,2016-01-01 00:00:00,0.0,1,0,Education
4,4,0,2016-01-01 00:00:00,0.0,1,0,Education